#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main-nav {
  display: flex;
  justify-content: center;
  gap: 32px;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0;
  margin-top: 34px;
  list-style: none;
}

.container {
  text-align: left;
}

.table-wrapper {
  text-align: left;
}

.table-wrapper table {
  width: 100%;
}

th, td {
  padding: 8px 12px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


